<div id="emp">
<h3>Employees</h3>

<ul>
    <li *ngFor="let fi of employess">{{fi.name}} ,{{fi.salary}} ,{{fi.department}} ,{{fi.city}} , {{fi.managerName}}</li>
</ul>

<div class="form-group" >
    <label for="exampleInputEmail1">Enter Min salary</label>
    <input class="form-control" type="text"  class="form-control" [(ngModel)]="salary" placeholder="Enter Salary">
</div>

<div class="form-group" >
    <label for="exampleInputEmail1">Enter City</label>
    <input class="form-control" type="text"  class="form-control" [(ngModel)]="city" placeholder="Enter City">
</div>

<div class="form-group" >
    <label for="exampleInputEmail1">Enter Manager</label>
    <input class="form-control" type="text"  class="form-control" [(ngModel)]="mName" placeholder="Enter Manager Name">
</div>


<br><button type="button" (click)="fBySalary()" class="btn btn-primary">Filter with salary</button> &nbsp;
<button type="button" (click)="fByCity()" class="btn btn-primary">Filter by City</button> &nbsp;
<button type="button" (click)="fByMname()" class="btn btn-primary">Filter by Manager Name</button>

<ul>
    <li *ngFor="let fi of filter">{{fi.name}} ,{{fi.salary}} ,{{fi.department}} ,{{fi.city}} , {{fi.managerName}}</li>
</ul>
</div>
